<div class="navbar">
    <div class="navbar-left">
        <a href="">Rafael Baggio</a>
    </div>
    <div class="navbar-right">
        <a href="#projects-anchor">Projects</a>
        <a href="#about-anchor">About me</a>
        <a href="#resume-anchor">Résumé</a>
        <a href="#contact-anchor">Contact</a>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h1>Rafael Baggio</h1>
        <p>Full-stack web developer</p>
    </div>

    <div id="projects-anchor"></div>
    <h1>Projects</h1>
    <div class="projects">
        <div class="projects-grid">
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
        </div>
    </div>

    <div id="about-anchor"></div>
    <h1>About me</h1>
    <div class="about">
        <div class="about-container">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatibus numquam fuga earum, esse quisquam officia nihil quo? Amet ducimus expedita beatae quasi exercitationem tenetur hic laborum! Esse, odit! Ea.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus consequuntur quos optio, quae incidunt odio cupiditate. Cum temporibus, placeat voluptas nemo est obcaecati! Consequuntur molestias amet laborum veritatis eligendi dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero vel reiciendis aspernatur id est numquam, sed odio quia dolorum fugiat cumque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, veritatis vitae debitis facilis in cum ipsa fugit quo accusantium ducimus tenetur eum rerum quia delectus. Obcaecati autem exercitationem velit eum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi maxime quaerat optio in ab ipsa obcaecati aspernatur ut voluptatum, earum laborum maiores fugiat laboriosam et adipisci facilis nihil dignissimos laudantium.</p>
            </div>
            <img src="" alt="Profile pic">
        </div>
    </div>

    <div id="resume-anchor"></div>
    <h1>Résumé</h1>
    <div class="resume-container">
        <div class="resume-summary-container">
            <h2>Summary</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto vel reprehenderit ipsa facilis, eaque animi quae atque, repudiandae beatae voluptatibus! Iste eaque vel quibusdam, itaque harum cupiditate nam mollitia.</p>
        </div>

        <div class="resume-skills-container">
            <h2>Skills</h2>
            <ul>
                <li>HTML5, CSS3</li>
                <li>JavaScript</li>
                <li>Ruby / Rspec, Rails</li>
                <li>SQL</li>
                <li>Git / Github</li>
                <li>Heroku</li>
                <li>TDD</li>
                <li>OOP</li>
                <li>Portuguese</li>
            </ul>
        </div>

        <div class="resume-education-container">
            <h2>Education</h2>
            <h3>University of São Paulo</h3>
            <p class="subheader">Performing Arts Bachelor's Degree</p>
            <p class="education-infos">2013-2020, completed 262 credits</p>
            <h3>SP Drama School</h3>
            <p class="subheader">Lighting Design Certificate</p>
            <p class="education-infos">2017</p>
            <h3>São Paulo Federal Institute</h3>
            <p class="subheader">Industrial Mechanics Certificate</p>
            <p class="education-infos">2012</p>
        </div>

        <div class="resume-experience-container">
            <h2>Experience</h2>
            <h3>Lighting Technician</h3>
            <p class="subheader">Vendedor de Sonhos - September 2018 - January 2020</p>
            <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            </ul>

            <h3>Performer</h3>
            <p class="subheader">Voar, um Musiclown - March 2014 - August 2016</p>
            <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            </ul>

            <h3>Mechanical Technician</h3>
            <p class="subheader">Pirelli - January 2012 - July 2012</p>
            <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero officia molestias fuga a odio similique animi blanditiis iusto non aperiam perspiciatis.</li>
            </ul>
        </div>
    </div>

    <div id="contact-anchor"></div>
    <h1>Contact</h1>
    <div class="contact-container">
        <div class="contact-item first-column">
            <%= image_tag "mail.svg" %>
            <p>rafaelmoreton@gmail.com</p>
        </div>
        <div class="contact-item first-column">
            <%= image_tag "map-pin.svg" %>
            <p>São Paulo, Brazil</p>
        </div>
        <a class="contact-item second-column first-row" href="mailto:rafaelmoreton@gmail.com">
            <p>Email</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
        </a>
        <a class="contact-item second-column" href="https://github.com/rafaelmoreton">
            <p>Github</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
        </a>
        <a class="contact-item second-column" href="https://linkedin.com/in/rafael-moreton-baggio-3709b1217">
            <p>LinkedIn</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
        </a>
    </div>
</div>
