<div class="navbar">
    <div class="navbar-left">
        <a href="">Rafael Baggio</a>
    </div>
    <div class="navbar-right">
        <a href="">Projects</a>
        <a href="">About me</a>
        <a href="">Résumé</a>
        <a href="">Contact</a>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h1>Rafael Baggio</h1>
        <p>Full-stack web developer</p>
    </div>
    <div class="projects">
        <h1>Projects</h1>
        <div class="projects-grid">
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
            <div class="project-item">
                <h1>Project</h1>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem unde, alias repellendus consequuntur consectetur, quo saepe tempora ipsum optio deleniti numquam sequi fugiat, porro quidem! Quod laudantium ad id.</p>
                <div>
                    <a href="">Source Code</a>
                    <a href="">Live Preview</a>
                </div>
                <img src="" alt="Project pic">
            </div>
        </div>
    </div>
    <div>
        <h1>About me</h1>
    </div>
    <div>
        <h1>Résumé</h1>
    </div>
    <div>
        <h1>Contact</h1>
    </div>
</div>
