<div class="navbar">
    <div class="navbar-left">
        <a href="">Rafael Baggio</a>
    </div>
    <div class="navbar-right">
        <a href="">Projects</a>
        <a href="">About me</a>
        <a href="">Résumé</a>
        <a href="">Contact</a>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h1>Rafael Baggio</h1>
        <p>Full-stack web developer</p>
    </div>
    <div>
        <h2>Projects</h2>
    </div>
    <div>
        <h2>About me</h2>
    </div>
    <div>
        <h2>Résumé</h2>
    </div>
    <div>
        <h2>Contact</h2>
    </div>
</div>
