<div class="navbar">
    <div class="navbar-left">
        <a href="">Rafael M. Baggio</a>
    </div>
    <div class="navbar-left">
        <a href="">Projects</a>
        <a href="">About me</a>
        <a href="">Résumé</a>
        <a href="">Contact</a>
    </div>
</div>