@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Source+Sans+Pro:wght@200;400;700&family=Spectral:wght@200;300;500&display=swap');

/* ####################################### */
/* ########### GLOBAL VARIABLES ########## */

:root {
    /* BACKGROUND COLORS */
    --green: rgb(0, 128, 66);
    --orange: rgb(255, 94, 70);
    --light: rgb(255, 228, 196);
    --pic-bg: rgb(171, 155, 134);

    /* FONT COLORS */
    --f-color-section-even: rgb(58, 58, 58);
    --f-shadow: rgb(124, 46, 34);
}

/* ####################################### */
/* ############ TYPE SELECTORS ########### */

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/* ####################################### */
/* ########### GENERAL CLASSES ########### */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    color: var(--orange);
    height: 50px;
    font-size: 1.2em;
    border-bottom: 4px solid var(--orange);
    font-family: "Montserrat", sans-serif;
}

.navbar > div > a {
    padding: 14px 10px;
    gap: 10px;
}

.navbar > div > a:hover {
    background-color: var(--orange);
    color: var(--light);
}

#navBtn {
    display: none;
}

.navbar-right > a {
    display: none;
}
@media (max-width: 1000px) {
    #navBtn {
        display: flex;
    }

}
@media (min-width: 1001px) {
    .navbar-right > a {
        display: inline-flex;
    }
}

.flag-icon  {
    width: 25px;
}

/* ####################################### */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
}

.content > div {
    width: 100%;
}

.content > div:nth-child(odd) {
    background-color: var(--green);
    color: var(--light);
}

.content > div:nth-child(even) {
    color: var(--f-color-section-even);
}

.content > div:not(:first-of-type) {
    padding-bottom: 75px;
}

.content > div > h1 {
    font-size: clamp(45px, 12vw, 90px);
    text-align: center;
    color: var(--orange);
    font-family: "Open Sans Pro", sans-serif;
}

.content > div:first-of-type > h1 {
    text-shadow: 1px 1px 3px var(--f-shadow);
    font-size: clamp(45px, 10vw, 120px);
    margin-top: 0;
    margin-bottom: 0px;
}

/* #################################### */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max(300px, calc(100vh - 50px));
}

.intro p {
    text-align: center;
    font-size: clamp(20px, 3vw, 1.5rem);
    font-family: "Montserrat", sans-serif;
    margin: min(5vh, 24px);
    text-transform: uppercase;
}

.stack-icons {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    min-width: 300px;
    width: 40vw;
    max-width: 400px;
}

.rails {
    grid-column: 2 / 4;
}

.stack-icons > div {
    margin: 0 15px;
}

.stack-icons > div > img {
    object-fit: contain;
    width: 100%;
}

@media (max-width: 320px) {

    .stack-icons {
        margin-top: 0;
        min-width: 100px;
        width: 75vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "html css java"
        "rails rails rails"
        "git ruby heroku";
    }
    .html {
        grid-area: html;
    }
    .css {
        grid-area: css;
    }
    .java {
        grid-area: java;
    }
    .rails {
        grid-area: rails;
    }
    .git {
        grid-area: git;
    }
    .ruby {
        grid-area: ruby;
    }
    .heroku {
        grid-area: heroku;
    }
}

/* ############################################# */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 0.5fr));
    gap: 15px;
    justify-content: center;
    max-width: min(80vw, 1900px);
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1520px) {
    .projects-grid {
        max-width: 90vw;
    }
}

.project-item {
    border: 2px solid var(--orange);
    display: grid;
    grid-template-areas:
    'title title'
    'description picture'
    'links picture';
    grid-template-rows: 50px auto 45px;
    grid-template-columns: 55%;
    font-family: "Open Sans Pro", sans-serif;
}


@media (max-width: 1350px) {
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.4fr));
        max-width: 80vw;
    }

    .project-item {
        display: grid;
        grid-template-areas:
        'title title'
        'picture picture'
        'description description '
        'links links';
        font-family: "Open Sans Pro", sans-serif;
        grid-template-rows: 50px auto auto;
    }
}

@media (max-width: 1000px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
        max-width: 90vw;
    }
}

@media (max-width: 300px) {
    .projects-grid {
        grid-template-columns: auto;
    }
}

.project-item > a {
    grid-area: title;
    color: var(--light);
    padding: 5px;
    background-color: var(--orange);
}

.project-item > a > h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.project-item > p {
    grid-area: description;
    margin: 0;
    padding: 10px;
    text-align: justify;
    display: flex;
    align-items: center;
}

.project-links {
    grid-area: links;
    display: flex;
    height: fit-content;
    align-self: flex-end;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}

.project-links > a {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    hyphens: manual;
}

.project-links > a:hover {
    text-decoration: underline;
}

.project-demo-image {
    grid-area: picture;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--pic-bg)
}

.project-demo-image > a > img {
    flex-grow: 0.3;
    max-width: 100%;
}

/* ############################################# */

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    text-align: justify;
    padding: 0 50px;
    gap: 50px;
    font-family: "Spectral", serif;
}

.about-container > div {
    max-width: min(80vw, 1400px);
}

.about-container > div > p:first-of-type {
    margin-top: 0;
}

.about-container > img {
    border: 1px solid black;
    width: 250px;
    height: 350px;
    margin-bottom: 30px;
}

@media (max-width: 400px) {
    .about-container {
        padding: 0;
    }
}

/* ####################################### */

.resume-grid {
    display: grid;
    grid-template-areas:
    "summary experience"
    "skills experience"
    "education experience";
    max-width: min(80vw, 1400px);
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 2fr;
    column-gap: 3vw;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
}

.resume-grid > div > h2 {
    color: var(--green);
    text-transform: uppercase;
    font-size: 1.8em;
}

.resume-grid > div > h3 {
    color: var(--green);
    margin-bottom: 0;
    font-size: 1.4em;
}

.resume-summary-container {
    grid-area: summary;
    text-align: justify;
}

.resume-summary-container p {
    font-family: "Spectral", serif;
}

.resume-skills-container {
    grid-area: skills;
}

.resume-skills-container > ul {
    margin-top: 0;
    list-style-position: inside;
    padding-left: 0;
}

.resume-skills-container > ul > li {
    margin-bottom: 5px;
}

.resume-education-container {
    grid-area: education;
}


.resume-experience-container {
    grid-area: experience;
}

.resume-experience-container > h3:not(:first-of-type) {
    margin-top: 30px;
}

.resume-experience-container > ul {
    margin-top: 0;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
}

.resume-experience-container > ul > li {
    margin-bottom: 5px;
    font-size: 1.1em;
    font-family: "Spectral", serif;
}

.subheader {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.education-infos {
    margin-top: 0;
}

@media (max-width: 1440px) {
    .resume-grid {
        display: flex;
        flex-direction: column;
    }

    .resume-skills-container > ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        list-style: none;
    }

    .resume-skills-container > ul > li {
        white-space: nowrap;
    }

    .resume-skills-container > ul > li:not(:last-of-type)::after {
        margin-left: 20px;
        content: "•";
    }
}

/* ###################################### */

.contact-grid {
    display: grid;
    grid-template: repeat(3, 80px) / 1fr 1fr;
    column-gap: 5vw;
    row-gap: 20px;
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
}

.first-column {
    grid-column: 1 / 1;

}

.second-column {
    grid-column: 2 / 2;
    justify-self: flex-start;
}

.first-row {
    grid-row: 1 / 1;
}

.contact-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-item.first-column {
    justify-self: flex-end;
    /* font-size: max(2vw, 22px); */
}

.contact-grid > a {
    display: flex;
    justify-content: space-evenly;
    border: 3px solid var(--light);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: calc(150px + 10vw);
    min-width: 200px;
}

.contact-grid p {
    margin: 0;
}

.contact-grid > a:hover {
    background-color: var(--light);
    color: var(--green);
    text-decoration: underline;
}

@media (max-width: 1000px) {

    .first-column {
        display: none;
    }

    .contact-grid {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        padding: 0 15px;
        font-size: max(5vw, 24px);
    }

    .contact-grid > a {
        width: 80%;
        max-width: 50vw;
        justify-content: center;
        /* font-size: 50%; */
        gap: 5vw;
        padding-top: min(30px, 3vh);
        padding-bottom: min(30px, 3vh);
    }

    .contact-item > svg {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 500px) {

    .home-link {
        display: none;
    }

    .contact-grid > a {
        max-width: 80vw;
    }
}

.menu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#navBtn {
    border: none;
    background-color: inherit;
    margin: 0;
    fill: var(--orange);
}

#navBtn:hover {
    background-color: var(--orange);
    fill: var(--light);
    cursor: pointer;
}

.menu-content {
    background-color: #fefefe;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65vw; /* Could be more or less, depending on screen size */
    height: 70vh;
}

.container-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 200%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ########################################### */
/* Smaller fonts on low width screens */
@media (max-width: 270px) {
    p,
    .resume-experience-container > ul > li,
    .resume-skills-container > ul > li  {
        font-size: 5.5vw;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar > div > a {
        font-size: 8vw;
    }

    .content > div:first-of-type > h1 {
        font-size: 20vw;
    }

    .intro p {
        font-size: 8vw;
    }

    .content > div > h1 {
        font-size: 15vw;
    }

    .resume-grid > div > h2 {
        font-size: 10vw;
    }

    .resume-grid > div > h3 {
        font-size: 9vw;
    }

    .project-item {
        grid-template-rows: 20vw auto auto;
    }

    .project-item > a > h1 {
        font-size: 12vw;
    }

    .project-links > a {
        font-size: 7vw;
        padding-left: 0;
        padding-right: 0;
        width: 0vw;
    }

    .subheader {
        font-size: 8vw;
    }

    .resume-skills-container > ul > li {
        white-space: normal;
    }

    .contact-grid {
        gap: 10px;
    }

    .contact-grid > a {
        min-width: 0;
        max-width: 60vw;
        padding: 0;
    }

    .contact-item > svg {
        width: 13vw;
    }

    .content > div:not(:first-of-type) {
        padding-bottom: 20px;
    }
}