@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Source+Sans+Pro:wght@200;400;700&family=Spectral:wght@200;300;500&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* ####################################### */

:root {
    --green: hsl(151, 100%, 25%);
    --orange: rgb(255, 94, 70);
}

/* ####################################### */

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/* ####################################### */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: bisque;
    color: var(--orange);
    height: 50px;
    font-size: 1.2em;
    border-bottom: 4px solid var(--orange);
}

.navbar > div > a {
    padding: 14px 10px;
}

.navbar > div > a:hover {
    background-color: var(--orange);
    color: bisque;
}

/* ####################################### */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.content > div {
    width: 100%;
}

.content > div:nth-child(odd) {
    background-color: var(--green);
    color: bisque;
}

.content > div:nth-child(even) {
    color: rgb(58, 58, 58);
}

.content > div:not(:first-of-type) {
    padding-bottom: 75px;
}

.content > div > h1 {
    font-size: 4.5em;
    text-align: center;
    color: var(--orange);
    font-family: "Spectral";
}

.content > div:first-of-type > h1 {
    font-size: 6em;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.intro h1 {
    margin-bottom: 0px;
    font-size: 4em;
    font-family: "Spectral";
    font-weight: 300;
    text-transform: uppercase;
}

.intro p {
    text-align: center;
    font-size: 1.5em;
    font-family: "Montserrat";
    /* text-transform: uppercase; */
}

.stack-icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 500px;
    flex-wrap: wrap;
}

.projects {
    width: 100%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.8fr));
    gap: 10px;
    justify-content: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

.project-item {
    border: 2px solid var(--orange);
    display: grid;
    grid-template-areas:
    'title title'
    'description picture'
    'links picture';
    grid-template-rows: 45px fit-content 40px;
    grid-template-columns: 70%;
}

.project-item > h1 {
    grid-area: title;
    margin: 0;
    color: bisque;
    padding: 5px;
    background-color: var(--orange);
}

.project-item > p {
    grid-area: description;
    margin: 0;
    padding: 10px;
    text-align: justify;
}

.project-item > div {
    grid-area: links;
    padding: 10px;
}

.project-item > img {
    grid-area: picture;
    border: 1px solid var(--orange);
}

.about-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.about-container > div {
    width: max(400px, 50vw);
}

.about-container > img {
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.resume-grid {
    display: grid;
    grid-template-areas:
    "summary experience"
    "skills experience"
    "education experience";
    grid-template-columns: 0.3fr 0.7fr;
    column-gap: 3vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.resume-grid > div > h2 {
    color: var(--green);
    text-transform: uppercase;
    font-size: 1.8em;
}

.resume-grid > div > h3 {
    color: var(--green);
    margin-bottom: 0;
    font-size: 1.4em;
}

.resume-summary-container {
    grid-area: summary;
}

.resume-skills-container {
    grid-area: skills;
}

.resume-skills-container > ul {
    margin-top: 0;
    list-style-position: inside;
    padding-left: 0;
}

.resume-skills-container > ul > li {
    margin-bottom: 5px;
}

.resume-education-container {
    grid-area: education;
}


.resume-experience-container {
    grid-area: experience;
}

.resume-experience-container > h3:not(:first-of-type) {
    margin-top: 30px;
}

.resume-experience-container > ul {
    margin-top: 0;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
}

.resume-experience-container > ul > li {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.subheader {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.education-infos {
    margin-top: 0;
}

.contact-grid {
    display: grid;
    grid-template: repeat(3, auto) / 1fr 1fr;
    column-gap: 5vw;
    row-gap: 20px;
    font-size: 1.4em;
}

.first-column {
    grid-column: 1 / 1;

}

.second-column {
    grid-column: 2 / 2;
    justify-self: flex-start;
}

.first-row {
    grid-row: 1 / 1;
}

.contact-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-item.first-column {
    justify-self: flex-end;
}

.contact-grid > a {
    display: flex;
    justify-content: space-evenly;
    border: 3px solid bisque;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 200px;
}

.contact-grid p {
    margin: 0;
}

.contact-grid > a:hover {
    background-color: bisque;
    color: var(--green);
    text-decoration: underline;
}